@import '../../styles/_mixins';

.productsContainer {
    display: grid;
    gap: 24px;
    grid-template-columns: 400px 400px;
    @include responsive-tablet {
        grid-template-columns: 350px;
    }
}

.product {
    align-items: center;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    text-decoration: none;
    width: 400px;
    @include responsive-tablet {
        width: 350px;
    }
}

.img {
    border-radius: 10px;
    @include responsive-tablet {
        width: 200px;
        height: 200px;
    }
}

.titleAndPrice {
    width: 100%;
}
